* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(134, 16, 7, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #ff8c00;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dice {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff8c00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7000;
}

.result {
    margin-top: 20px;
}

#sum, #counter {
    font-size: 18px;
    margin-bottom: 10px;
}

#message {
    font-size: 20px;
    color: #28a745;
    font-weight: bold;
}
